<footer class="border-top">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-threads"></i>
            <i class="fa-brands fa-bluesky"></i>
        </div>
        <div class="f-about-company">
            &copy; <%= new Date().getFullYear() %>
        </div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms &amp; conditions</a>
        </div>
    </div>
</footer>